<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972883982563-ll9r44e19ip65fojmgg9leha3i9354ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972883982563-ll9r44e19ip65fojmgg9leha3i9354ek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972883982563-bskkqfdi87uj7licgth081vva7ldktri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_g-jF-FuNe095ARCGBcOFL3TsGtRxt4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>972883982563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtis.gwith</string>
	<key>PROJECT_ID</key>
	<string>gowith-45e8d</string>
	<key>STORAGE_BUCKET</key>
	<string>gowith-45e8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972883982563:ios:9b0915aa5eed17b5fd2dd6</string>
</dict>
</plist>